<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/underscore-noflect.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <!--self-->
    <script src="commonjs/login.js"></script>
    <style>
        .box{
            max-width:1200px;
            margin:0 auto;
        }
        .te{
            margin-bottom: 30px;
        }
        h3{
            margin-bottom: 30px;
        }
        h3 a{
            float: right;
        }
        .alert{
            margin-top:30px;
            display: none;
        }
    </style>
</head>
<body>
<% include head.ejs %>
    <div class="box">
        <h3>用户登录 <a href="/register">没有账号？<span>注册</span></a></h3>
        <div class="input-group input-group-lg te">
            <span class="input-group-addon" id="sizing-addon1">用户名</span>
            <input id="name" name="username" type="text" class="form-control" placeholder="用户名" aria-describedby="sizing-addon1" <%if(cookie){ %> value="<%= cookie.name %>" <%} %> />
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">密码</span>
            <input id="pwd" type="password" name="pwd" class="form-control" placeholder="密码" aria-describedby="sizing-addon1" <%if(cookie){ %> value="<%= cookie.pwd %>" <%} %> />
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="record" name="check" value="1" <%if(cookie){ %> checked="checked" <%} %> > Check me out
            </label>
        </div>
        <div>
            <button type="button" class="submit btn btn-primary">提交</button>
        </div>
        <div class="alert alert-danger" role="alert">错误</div>
    </div>
<% include footer.ejs %>
</body>
</html>