<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/underscore-noflect.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <!--裁切插件-->
    <link rel="stylesheet" href="css/jquery.Jcrop.css">
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/jquery.Jcrop.js"></script>
    <style>
        #Img1{
            min-width: 200px;
            min-height: 200px;
            margin-bottom: 20px;
        }
        .cover{
            display: none;
            margin-bottom:20px;
        }
        .userinfo li{
            margin-bottom: 20px;
            font-size: 18px;
            list-style: none;
        }
        .userinfo li span{
            display: inline-block;
            width: 100px;
            text-align: right;
            margin-right: 10px;
        }
        .file{
            display: inline-block;
            margin-left: 10px;
            cursor: pointer;
        }
        .checkbox label{
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <% include head.ejs %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="userinfo">
                            <li>
                                <span>用户名：</span><input type="text">
                            </li>
                            <li>
                                <span>头像：</span><img src="boy.jpg" alt="" width="100" height="100"/>
                                <label>
                                    <em href="javascript:;" class="glyphicon glyphicon-open file"></em>
                                    <input type="file" name="upLoadImg1" id="upLoadImg1" style="display: none">
                                </label>
                            </li>
                            <li class="checkbox">
                                <span>爱好：</span>
                                <label><input type="checkbox" name="" value="王者农药">王者农药</label>
                                <label><input type="checkbox" name="" value="LOL">LOL</label>
                                <label><input type="checkbox" name="" value="三国杀">三国杀</label>
                            </li>
                        </ul>
                        <button style="margin-left: 180px" type="button" class="btn btn-primary">确定修改</button>
                    </div>
                    <div class="col-md-6">
                        <!--弹窗与裁切图-->
                        <div class="cover">
                            <img id="Img1" alt="">
                            <div style="margin-top: 20px">
                                <button id="btnSave">保存</button>
                                <button id="reset">重置选框</button>
                            </div>
                        </div>
                        <!--裁切范围重绘canvas-->
                        <canvas id="myCanva" width="200" height="200"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <!--参考了http://blog.csdn.net/xiashulin/article/details/70269833-->
    <!--api http://code.ciaoca.com/jquery/jcrop/ -->
    <!--上传控件-->

    <script>
//        获取this,向外暴露api接口
        var jcropApi;
        var i = 0;
        $('#upLoadImg1').on('change', function() {
            i++;
            if(i>1){
                console.log(1);
                $(".jcrop-holder").remove();
            }
            if (document.getElementById("upLoadImg1").files.length === 0) {
                return;
            }
            var oFile = document.getElementById("upLoadImg1").files[0];
            if (!oFile) {
                return;
            }
            var fileName = oFile.name;
            var fileSize = oFile.size;
            var fileType = fileName.substring(fileName.lastIndexOf('.'), fileName.length).toLowerCase();
            if (fileType != '.jpg' && fileType != '.jpeg' && fileType != '.gif' && fileType != '.png' && fileType != '.bmp') {
                alert("请选择jpg,png,gif,bmp格式的图片");
                return;
            }
            if (fileSize > 2 * 1024 * 1024) {
                alert('最大支持2MB的图片');
                return;
            }
            var fileReader = new FileReader();
            fileReader.readAsDataURL(oFile);

            // 成功读取
            fileReader.onload = function(e) {
                // 显示弹窗
                $('.cover').show();
                // 将弹窗中的图片路径设置为选择的图片的base64
                $('#Img1').attr('src', e.target.result);
                // 裁切组件初始化
                initJcrop();
            };
        });

        function initJcrop() {
            $('#Img1').Jcrop({
                onChange: updateCoords,
                onSelect: updateCoords,
                aspectRatio: 0, //选框宽高比。说明：width/height, 1的时候就是等比例，0的话就用户随便控制
            }, function() {
//                这里定义这个,就可以在函数外调用 api的方法了
                jcropApi = this;
                //设置初始选中裁切范围
                this.setSelect([0, 0, 200, 200]);
            });
        }

        function updateCoords(c) {
//            c参数是自带的，不需要传
//            console.log("c",c);
            var img = document.getElementById('Img1');
            var ctx = document.getElementById('myCanva').getContext('2d');

            //绘制canvas画布
            ctx.drawImage(img, c.x, c.y, c.w, c.h, 0, 0, 200, 200);
        }
//        提交
        $("#btnSave").on("click",function () {
//            var t = jcropApi.tellSelect();
//            console.log("t",t);
            var data = document.getElementById('myCanva').toDataURL('image/jpeg');
            console.log(data);
            $.ajax({
                url: '/userinfo',
                type: 'POST',
                dataType: 'JSON',
                cache: false,
                data: {
                    'img_base64': data
                },
                success: function(data) {
                    if(data.result){
                        alert("修改成功！");
                    }
                },
                error: function(err) {
                    alert("错误");
                }
            });
        })

        $("#reset").on("click",function () {
            jcropApi.setSelect([0, 0, 200, 200]);
        })
    </script>
    <% include footer.ejs %>
</body>
</html>